@model INTRANET_CR.Models.Departamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeNombre" class="control-label"></label>
                <input asp-for="DeNombre" class="form-control" />
                <span asp-validation-for="DeNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeMail" class="control-label"></label>
                <input asp-for="DeMail" class="form-control" />
                <span asp-validation-for="DeMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeSucursal" class="control-label"></label>
                <input asp-for="DeSucursal" class="form-control" />
                <span asp-validation-for="DeSucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeEstado" class="control-label"></label>
                <input asp-for="DeEstado" class="form-control" />
                <span asp-validation-for="DeEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmCodigo" class="control-label"></label>
                <select asp-for="EmCodigo" class ="form-control" asp-items="ViewBag.EmCodigo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

